/* Navbar 스타일 */
.navbar {
    width: 100%;
    background-color: #ffffff !important; /* 흰색 배경으로 강제 설정 */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
  
}

.logo img {
    height: 50px;
    vertical-align: middle; /* Adjust the height based on your design */
}

.logo-text {
    font-size: 1.5rem; /* 텍스트 크기 */
    font-weight: bold; 
    vertical-align: middle;
    color: #7695f7; /* 원하는 색상 코드로 변경, 여기서는 빨간색 */
    text-decoration: none;
    margin-left: 15px}

.menu {
    display: flex;
    justify-content: flex-end; 
    margin-right: 30px; }

.menu-item {
    color: #333;
    margin-left: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover {
    color: #7695f7;
}

.menu-item:active {
    color: #5172ca;
}

/* 로고 링크에서 밑줄 제거 */
.logo-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 상속 */
}

.logo-link:hover {
    text-decoration: none; /* 호버 상태에서도 밑줄 제거 */
}
